body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #196b32
   
}

.page {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #999999;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #999999;
    border-radius: 7px;
    padding:0px;
    margin-top: 80px;
    margin-left: 150px;
    text-align: center;
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 50px;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #000000;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
}


.formLogin input:focus {
    border: 1px solid #000000;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a:hover {
    color: #60ff7a8c;
}

.btn {
    background-color: #f72585;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    border: none ;

    cursor: pointer;
    margin: 0;

}
.container ul li{
align-items: center;
}
.btn_social { 
    width:100%; 
    float:left; 
    display:flex; 
    margin:auto; 
    margin-left: 150px;
   }
   .btn_social ul  { 
    width:auto; 
    margin:auto; 
    float:left; 
    display:block; 
   }
   .btn_social ul li  { 
    position:relative; 
    background:#555555; 
    list-style:none; 
    float:left; 
    margin:5px; 
    z-index:1; 
    overflow:hidden; 
    border-radius:3px; 
    font-size:1.5em; 
    text-align:center; 
   }
   .btn_social ul li a  { 
    width:50px; 
    height:50px; 
    line-height:53px; 
    display:block; 
    text-decoration:none; 
    color:#020202; 
    transition:.4s;
   }
   .btn_social ul li::before { 
    transition:0.4s; 
    position:absolute; 
    content:''; 
    width:100%; 
    height:100%; 
    top:90%; 
    left:0; 
    background:#5b5b5b; 
    z-index:-1; 
    transform: scale(1); 
    transition:.4s;
   }
   .btn_social ul li:hover::before { transition:0.4s; top:0%
;}
   .btn_social ul li a:hover       { color:#000000; }
   .container ul li{
       font-size:x-small;
       background-color:#000000;

   }
.v3{
    display: flex;
}
.formLogin button{
    background-color: #ccccccab;
    font-size: 30px;
    box-shadow: rgb(0, 0, 0);
    border-radius: 50px;
    
    
    
    }
.formLogin button a{
    color:#000000;
    font-size: 40px;
    
}    

.login{
    font-size: 150px;
    margin: 50px;
    padding: 0%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.tudo{
    display: flex;
    background-color: #5e5e5e;
    border-radius: 50;
    background-image: url(mbappe\ 1.jpg);
    background-size:contain;
    text-align: center;
    margin-right: 50px;
}
.login img{
    align-items: center;
    margin-top: 200px

    
}
.but input{
     font-size: 60px;
     display: flex;
     flex-direction: column;
     border-radius: 50px;
     color: #000000;
     background-color: #d8d8d880;
     text-align: center;
}
.Login a:hover {
    color: #60ff7a8c;
}


.res {
    background-color: #6b6b6b6b;
    font-size: 30px;
    box-shadow: rgba(51, 155, 98, 0.322);
    border-radius: 50px;
    }
.res a:hover{
    color:#000000;
    
    
}    